/* Center the grid container and scores on the page */
body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #28073e; /* Set a background color for the page */
  padding: 20px;
}

/* Define the grid container */
#grid-container {
  width: 650px; /* Adjust the size */
  height: 650px; /* Adjust the size */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 2px solid #135d84; /* Add a border to the grid container */
  box-shadow: 0 0 20px rgb(255, 255, 150); /* Add a subtle shadow for depth */
  background-color: #070707; /* Set a background color for the grid */
  position: relative; /* Position relative for child elements */
}

/* Define the cell styles */
.cell {
  border: 1px solid #234247; /* Add a border to the cells */
}

/* Styling for alternate cells */
.light-green {
  background-color: rgb(56, 3, 30); /* Set the background color for light green cells */
}

/* Styling for the score layout */
.player-score-box {
  display: flex;
  justify-content: center;
  width: 120%; /* Adjust the width based on your needs */
  background-color: #a95331; /* Set a background color for the score layout */
  position: center; /* Set positioning */
  top: 0; /* Position at the top */
  right: 0; /* Position to the right */
  z-index: 10; /* score box appears above other elements */
}

/* Styling for individual scores */
.player-score-box #player-one-score,
.player-score-box #player-two-score {
  padding: 10px; /* Add padding to individual scores */
  border: 2px solid #a29b14; /* Add a border for clarity */
  flex: 9;
  text-align: center; /* Center the text inside scores */
}

/* Styling for checker 1 (Player 1) */
.checker.player1 {
  background-color: #5c159e; /* Set color for player 1's checkers */
}

/* Styling for checker 2 (Player 2) */
.checker.player2 {
  background-color: #676711; /* Set color for player 2's checkers */
}

/* Styling for both checker colors */
.checker {
  width: 60%; 
  height: 60%; 
  border-radius: 50%; /* Makes the checker pieces round */
  margin: auto; /* Center the checker within the cell */
  margin-top: 16px; /* Center the checker */
  display: flex; /* Center the checker */
  justify-content: center; /* Align the checker */
  align-items: center; /* Align the checker */
  box-shadow: whitesmoke;
}

.kinged {
  background: gold;
}

#start-button, #new-game-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: rgb(20, 17, 17);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

/* Styling for the start button */
#start-button {
  background-color: #1e6c20;
  margin-bottom: 40px; /* margin to separate it from the grid container or any other element */
  margin-top: 40px;
}

#start-button:hover {
  background-color: #1b521e;
}

/* Styling for the new game button */
#new-game-button {
  background-color: #0e5d79;
  margin-bottom: 90px; /* margin to separate it from the grid container or any other element */
  margin-top: 40px; /* Some margin to separate it */
}

#new-game-button:hover {
  background-color: #083541;
}

#message {
    color: white; /* Set the text color to white */
    font-size: 20px; /* adjust the size to your liking */
    margin-bottom: 40px; 
}
