/* Center the grid container and scores on the page */
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  height: 100vh;
  margin-top: 50px;
  background-image: url('imgs/tron3.png'); /* Add this line */
  background-size: cover;  /* ensures the image covers the entire viewport */
  background-repeat: no-repeat;  /* ensures the image doesn't repeat */
  background-position: center;  /* ensures the image is centered */
  background-color: #190227; /* Set a fallback background color for the page */
  padding: 20px;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    color: #1aa993;
    text-shadow: 2px 2px 10px rgba(250, 247, 247, 0.7);
    margin-bottom: 10px;
}

/* Define the grid container */
#grid-container {
  width: 550px; /* Adjust the size */
  height: 550px; /* Adjust the size */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 2px solid #135d84; /* Add a border to the grid container */
  box-shadow: 0 0 20px rgb(255, 255, 150); /* Add a subtle shadow for depth */
  background-color: #070707; /* Set a background color for the grid */
  position: relative; /* Position relative for child elements */
  margin-top: -10px;
}

/* Define the cell styles */
.cell {
  border: 1px solid #234247; /* Add a border to the cells */
}

/* Styling for alternate cells */
.light-green {
  background-color: rgb(56, 3, 30); /* Set the background color for light green cells */
}

/* Styling for the score layout */
.player-score-box {
  display: flex;
  justify-content: center;
  width: 100%; /* Adjust the width based on your needs */
  background-color: #a95331; /* Set a background color for the score layout */
  position: center /* Set positioning */
  top : 10px; /* Position at the top */
  right: 0; /* Position to the right */
}

/* Styling for individual scores */
.player-score-box #player-one-score,
.player-score-box #player-two-score {
  padding: 10px; /* Add padding to individual scores */
  border: 2px solid #111111; /* Add a border for clarity */
  flex: 9;
  text-align: center; /* Center the text inside scores */
}

/* Styling for checker 1 (Player 1) */
.checker.player1 {
  background-color: #370862; /* Set color for player 1's checkers */
}

/* Styling for checker 2 (Player 2) */
.checker.player2 {
  background-color: #626013; /* Set color for player 2's checkers */
}

/* Styling for both checker colors */
.checker {
  width: 60%; 
  height: 60%; 
  border-radius: 50%; /* Makes the checker pieces round */
  margin: auto; /* Center the checker within the cell */
  margin-top: 16px; /* Center the checker */
  display: flex; /* Center the checker */
  justify-content: center; /* Align the checker */
  align-items: center; /* Align the checker */
  box-shadow: 0 0 10px whitesmoke;
}

.kinged {
  background: gold;
}

#start-button, #new-game-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: rgb(20, 17, 17);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

/* Styling for the start button */
#start-button {
  background-color: #118d66;
  margin-bottom: 40px; /* margin to separate it from the grid container or any other element */
  margin-top: 40px;
  box-shadow: 4 4 50px rgb(252, 251, 251);
}

#start-button:hover {
  background-color: #53e55b;
}


#message {
    color: white; /* Set the text color to white */
    font-size: 20px; /* adjust the size to your liking */
    margin-bottom: 40px; 
}
